div.back{





	background-color: rgb(37, 116, 161);    
  color: white;    
  padding: 12px 20px;    
  border: none;    
  border-radius: 10px;    
  cursor: pointer;    
  float: right; 
  position: relative; right: 1180px; top: 1px;
}    
    
div.back:hover {    
  background-color: #45a049;    
}    body{


background-image: url(file:///C:/Users/AMER/Downloads/jjb.webp);


}
div.fool{

  background-color: rgb(37, 116, 161);    
  color: white;    
  padding: 12px 20px;    
  border: none;    
  border-radius: 10px;    
  cursor: pointer;    
  float: right;   
  position: relative; top: 1px; right: -50px;
}
div.fool:hover {    
  background-color: #45a049;    
}    